<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.windaka.suizhi.mpi.dao.MsgPhoneDao">

    <select id="queryMsgPhoneList" resultType="string">
        select phone from msg_phone where status='0'
    </select>

</mapper>