<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.windaka.suizhi.webapi.dao.SwitchCloudDao">

    <select id="queryNextId" parameterType="string" resultType="int">
        SELECT auto_increment FROM information_schema.`TABLES`
        WHERE TABLE_SCHEMA='switch_cloud'
        AND TABLE_NAME=#{tableName};
    </select>

</mapper>