<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.windaka.suizhi.webapi.dao.TJAttendanceDao">

    <!--新增统计－缴费信息-->
    <insert id="save" parameterType="com.windaka.suizhi.webapi.model.TJAttendance">
        INSERT INTO tj_attendance(xq_code,per_total,per_duty,normal,`late`,`leave`,cre_by,cre_time,upd_by,upd_time)
        values (#{xq_code}, #{per_total}, #{per_duty}, #{normal}, #{late}, #{leave},#{cre_by},#{cre_time},#{upd_by},#{upd_time})

    </insert>

    <!--根据小区Codde删除记录-->
    <delete id="delete" parameterType="String">
        delete from tj_attendance where xq_code = #{xqCode}
    </delete>

    <!--根据小区Code、物业Code，查询统计考勤管理信息 a.xq_code as xqCode,wy.wy_code as wyCode-->
    <select id="query" parameterType="Map" resultType="Map">
        select sum(a.per_total) as perTotal,sum(a.per_duty) as perDuty,sum(a.normal) as normal,sum(a.late) as late,sum(a.`leave`) as `leave`
        from tj_attendance as a
        inner join ht_xq_wy as xw on a.xq_code=xw.xq_code and xw.status=0
        inner join ht_wy_info as wy on xw.wy_code=wy.wy_code
        inner join ht_xq_info xq on a.xq_code=xq.code
        inner join (select area_id from ht_area where parent_ids like concat('%',#{params.areaId},'%')) area on area.area_id=xq.sso_regionalcode
        where 1=1
        <if test="params.xqCode != null and params.xqCode != ''">
            and a.xq_code in (${params.xqCode})
        </if>
        <if test="params.wyCode != null and params.wyCode != ''">
            and wy.wy_code in (${params.wyCode})
        </if>
    </select>
</mapper>