<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.windaka.suizhi.webapi.dao.XqSubdistrictRelationDao">
    <select id="queryXqBySubdistrictId" parameterType="String" resultType="map">
        select xq.code as xqCode,xq.name as xqName,xq.location location
                from ht_xq_info as xq
                inner join ht_xq_subdistrict as xs on xs.xq_code=xq.code
        where xs.subdistrict_id = #{subdistrictId} and xs.status='0' and xq.status != '1'
    </select>

</mapper>
