<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.windaka.suizhi.user.dao.UserAreaDao">

	<select id="queryAreaInfoByPid" parameterType="java.lang.String" resultType="java.util.Map">
    	select area_id areaId,area_name areaName from ht_area
    	where parent_id=#{parentId}
	</select>
</mapper>