<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.windaka.suizhi.user.dao.UserPermissionDao">

    <select id="queryAdminPermissionForMap" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT a.permission_id permissionId,a.permission_name permissionName, a.menu_id menuId
        FROM ht_permission a
        WHERE a.status = 1 AND a.del_flag = 1
        <choose>
            <!--系统超级管理员专用的虚拟区域-->
            <when test="areaId == '99999999999999999999999999999999'">

            </when>
            <!--青岛区域管理员专用的-->
            <when test="areaId == '78cd02f709784a9bbe234cac6b95002f'">
                AND NOT EXISTS(SELECT 1 FROM ht_menu m WHERE a.menu_id=m.menu_id AND m.status=1 AND m.del_flag=1 AND m.scope IN('00'))
            </when>
            <!--其他普通运营区域-->
            <otherwise>
                AND NOT EXISTS(SELECT 1 FROM ht_menu m WHERE a.menu_id=m.menu_id AND m.status=1 AND m.del_flag=1 AND m.scope IN('00','01'))
            </otherwise>
        </choose>
        ORDER BY a.order_num
    </select>
    
    <select id="queryAdminPermissions" resultType="com.windaka.suizhi.api.oss.sys.HtPermission">
        SELECT * FROM ht_permission t
        WHERE status=1
        AND del_flag=1
        ORDER BY t.order_num
    </select>
</mapper>